body{
	font-family: arial;
}
.css-input-div,
.css-output-div{
	display: grid;
	grid-template-columns: 200px 150px 100px;
	column-gap: 10px;
	row-gap: 10px;
	align-items: center;
}
.css-input-div{
	margin-bottom: 10px;
	align-items: stretch;
}
.add-button,
.delete-button{
	background-color: green;
	color: white;
	border: 0;
	font-size: 15px;
	cursor: pointer;
}
.delete-button{
	background-color: rgb(163, 31, 31);
	padding: 10px;
}
.css-input-box,
.css-date-input-box{
	padding: 10px;
	font-size: 15px;
}
.regards{
	position: fixed;
	bottom:20px;
	right: 30px;
}